[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary/
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround/
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired/
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat/
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive/
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree/
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/vim-twig-ft"]
	path = bundle/vim-twig-ft
	url = https://github.com/beyondwords/vim-twig.git
